* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

body {
  background-color: var(--background-color);
}

:root {
  --background-color: #121212;
  --primary-color: #bb86fc;
  --secondary-color: #3700b3;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf");
}

#main {
  transition: margin-left 0.2s;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  height: 55px;
  background-color: #272727;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
}

.header-text {
  color: white;
  font-family: "Roboto";
  font-size: 21px;
}

.header-drag {
	width: 100%;
	height: 100%;
}

.menu-icon-block svg {
  vertical-align: middle;
}

.menu-icon-block {
	margin: 0px 15px;
  overflow: hidden;
  padding: 2px;
}

.menu-icon-block #arrow-group {
  transition: transform 0.4s;
}

.menu-icon-block:hover #arrow-group {
  transform: translateY(120px);
}

.exit-block {
  position: fixed;
  bottom: 0px;
  left: 10px;
  padding: 10px;
  background-color: #272727;
  border-radius: 10px 10px 0px 0px;
  z-index: 1000;
}

.exit-block svg {
  transition: all 0.2s;
  cursor: pointer;
}

.exit-block svg:hover {
  transform: rotate(90deg);
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
}

#wheel {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  right: -640px;
  transition: transform 1.2s;
}

.scroller {
  width: 90%;
  height: 300%;
  position: relative;
  top: 0;
  transform-origin: center;
  transition: filter 0.1s, top 1s;
}

.page {
  position: absolute;
  display: flex;
  transition: all 0.5s;
  height: 33.33%;
  width: 100%;
}

#page-link {
  position: relative;
  align-items: center;
  justify-content: center;
  filter:blur(0px);
  top:0;
}

#page-link input {
  width: 75%;
  height: 20px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 4px;
}

#page-format {
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.format-btn {
  border: none;
  outline: none;
  width: 220px;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  background-color: #121212;
  filter: brightness(1.5);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  color: white;
  font-family: "Roboto", "Arial";
  font-size: 25px;
  text-shadow: 0px 0px 3px rgba(206, 206, 206, 0.287);
  cursor: pointer;
}

.format-btn:hover {
  filter: brightness(1.7);
}

.info-tab {
  width: 70%;
  padding: 20px;
  background-color: #222222;
  border-radius: 10px;
  position: relative;
}

.info-title {
  color: white;
  font-family: "Roboto";
  font-size: 20px;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.info-desc {
  color:rgb(116, 116, 116);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  vertical-align: top;
  padding: 8px;
  overflow: hidden;
  width: 50%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.info-thumb {
  width: 211px;
  height: 120px;
  background-color: #272727;
  display: inline-block;
}

.info-wrap1 {
  display: flex;
  justify-content: left;
}

#format-undo {
  position: absolute;
  background-color: #222222;
  border: none;
  top:-29px;
  right: 20px;
  height: 30px;
  width: 100px;
  border-radius: 8px 8px 0px 0px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

#format-undo:hover {
  color: gray;
}

#page-download {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#page-download h3 {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.progress-bar {
  width: 70%;
  height: 20px;
  border: 2px solid darkgrey;
  border-radius: 4px;
  margin: 10px;
}

#down-progress {
  width: 0%;
  height: 20px;
  background-color: var(--primary-color);
  transition: width 0.2s;
}

.downloading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.downloaded {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

#svg-check #check {
  transform-origin: center;
}

#svg-check #backanim {
  transform-origin: center;
  transition: transform 0.8s ease-in;
}

@keyframes pop-up {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(2.5);
  }
  to {
    transform: scale(1.5);
  }
}